<h1>Hola: {{ title }}</h1>
<p>Parrafo con contenido...</p>
<app-user
  nombre="Ana"
  apellido="Pérez"
  (seleccionado)="procesarSeleccion($event)"
></app-user>
<app-user
  nombre="Pablo"
  apellido="Pérez"
  (seleccionado)="procesarSeleccion($event)"
></app-user>
<app-user
  nombre="Carlota"
  apellido="Pérez"
  (seleccionado)="procesarSeleccion($event)"
></app-user>
<app-user
  nombre="Zacarias"
  apellido="López"
  (seleccionado)="procesarSeleccion($event)"
></app-user>
<p>El usuario seleccionado es: {{ seleccionado }}.</p>
