<h1 appResalta>Hola: {{ title }}</h1>
<p appResalta="orange" color="darkolive">Parrafo con contenido...</p>

<div>
  Ejemplos de monedas:
  <p>
    {{ 12345.456 | currency : "eur" }}<br />
    {{ 12345.456 | currency : "USD" }}<br />
    {{ 12345.456 | currency : "yen" }}<br />
    {{ 12345.456 | currency }}<br />
    {{ 12345.456 | currency : "lib" }}<br />
  </p>
</div>

<app-user
  *ngFor="let user of users"
  [user]="user"
  (seleccionado)="procesarSeleccion($event)"
>
</app-user>

<p *ngIf="seleccionado; else noSeleccionado">
  El usuario seleccionado es: {{ seleccionado }}.
</p>

<ng-template #noSeleccionado
  ><p>No hay jugador inicial seleccinado.</p></ng-template
>

<ol>
  <li *ngFor="let user of users">{{ user.nombre }} {{ user.apellido }}</li>
</ol>
<pre>
  {{ users | json }}
</pre>
