h1 {
  color: #0000ff;
}
.filter {
  margin-left: 2rem;

  input {
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
  }
}
footer {
  border-top: 1px solid #000;
}
.seleccionado {
  background-color: cornsilk;
}
