<header>
  LOGO. Titulo
  <nav>
    <a [routerLink]="['/']" routerLinkActive="seleccionado">Inicio</a> |
    <a [routerLink]="['/ejemplo']" routerLinkActive="seleccionado">Ejemplo</a> |
    <a [routerLink]="['/planetas']" routerLinkActive="seleccionado">Planetas</a>
    |
    <a [routerLink]="['/planetas/1']" routerLinkActive="seleccionado"
      >Planeta 1</a
    >
    |
    <a [routerLink]="['/planetas/2']" routerLinkActive="seleccionado"
      >Planeta 2</a
    >
    |
    <a [routerLink]="['/no-existe']" routerLinkActive="seleccionado"
      >Esto no existe</a
    >
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>&copy; ACME 2025.</footer>

<!-- <h1 appResalta>Hola: {{ title }}</h1>
<p appResalta="orange" color="darkolive">Parrafo con contenido...</p>

<app-planet-list></app-planet-list>

<div>
  Ejemplo de fechas:
  <ul>
    <li>Sin el pipe: {{ hoy }}</li>
    <li>{{ hoy | date }}</li>
    <li>Short {{ hoy | date : "short" : "Z" : "en-US" }}</li>
    <li>Long {{ hoy | date : "long" : "CEST" : "en" }}</li>
    <li>A medida {{ hoy | date : "dd/MM/yyyy - HH:mm" : "CEST" }}</li>
    <li>ISO {{ hoy.toISOString() }}</li>
  </ul>
</div>

<div>
  Ejemplos de monedas:
  <p>
    {{ 12345.456 | currency : "eur" }}<br />
    {{ 12345.456 | currency : "USD" }}<br />
    {{ 12345.456 | currency : "yen" }}<br />
    {{ 12345.456 | currency }}<br />
    {{ 12345.456 | currency : "lib" }}<br />
  </p>
</div>

<div class="filter">
  <label for="search">Búsqueda:</label>
  <input
    name="search"
    placeholder="escriba aqui para filtrar"
    [(ngModel)]="searchText"
  />
</div>
<app-user
  *ngFor="let user of users | filterByName : searchText"
  [user]="user"
  (seleccionado)="procesarSeleccion($event)"
>
</app-user>

<p *ngIf="seleccionado; else noSeleccionado">
  El usuario seleccionado es: {{ seleccionado }}.
</p>

<ng-template #noSeleccionado
  ><p>No hay jugador inicial seleccinado.</p></ng-template
>

<ol>
  <li *ngFor="let user of users">{{ user.nombre }} {{ user.apellido }}</li>
</ol>
<pre>
  {{ users | json }}
</pre> -->
